body {
    background-color: hsl(217, 54%, 11%);
}

.Structure-Layout {
    display: grid;
    place-items: center;
    min-height:80vh;
    margin-block-start: 80px;

}
.wrapper {
    background-color:rgb(21 39 63);
    padding: 15px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: rgb(12 23 41) 20px 30px 28px, rgb(12 23 41) 18px 20px 10px;

}
.image {
    display: inline-block;
    position: relative;
}
.image .View-img {
    display: none;
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 99;
    width: 30px;
}
.image img {
    width: 270px;
    border-radius: 10px;
}
.image:hover .View-img {
   display: inline;
}
.image::after , .image::before {
    background-color:  hsl(178, 100%, 50%);
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
}
.image:hover::before , .image:hover::after {
  opacity: 0.2;
  cursor: pointer;
}

.Content .Time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Content h3 {
    color:  hsl(0, 0%, 100%);
    font-family: 'Outfit';
    font-weight: 600;

}
.Content h3:hover {
    color:hsl(178, 100%, 50%); 
    cursor: pointer;
    transition: all 0.3s ease;

}
.Content p {
    color:  rgb(86 106 141);
    font-family: 'Outfit';
    font-weight: 400;


}
.Time span:nth-child(1){
    color:  hsl(178, 100%, 50%);
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: 'Outfit';
    font-weight: 600;
}
.Time span:nth-child(2){
    color:  rgb(139 172 217);
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    font-family: 'Outfit';

}
.Content::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: hsl(215, 32%, 27%);
    margin: 10px;
    position: absolute;
    left: -10px;
}
.Content {
    position: relative;
}
.creation {
    display: flex;
    align-items: center;
    margin-block-start: 15px;
    gap: 10px;
}
.creation img {
    width: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.creation h5 {
    color:  rgb(139 172 217);
    font-weight: 400;
    font-family: 'Outfit';


}
.creation h5 span {
color: hsl(0, 0%, 100%);
font-weight: 400;
    font-family: 'Outfit';

}
.creation h5 span:hover {
    color:hsl(178, 100%, 50%); 
    cursor: pointer;
    transition: all 0.3s ease;
}
.attribution {
    margin-block-start: 10px;
}